<h1>My Watchlist</h1>
<p>User: <%= @user.email %></p>
<% if notice.present? %>
  <p><%= notice %></p>
<% end %>

<% if alert.present? %>
  <p style="color: red"><%= alert %></p>
<% end %>

<%= link_to "Search movies", search_movies_path %>

<nav>
  <%= link_to "All", watchlist_items_path %>
  <% WatchlistItem::STATUS_OPTIONS.each do |key, val| %>
    <%= link_to val, watchlist_items_path(status: key) %>
  <% end %>
</nav>
<hr>

<% @watchlist_items.each do |item| %>
  <div class="title-close-btn-wrapper">
    <h2><%= item.movie.title %> (<%= item.movie.year %>)</h2>
    <%= button_to "x",
        watchlist_item_path(item),
        method: :delete,
        class: "btn btn-dark" %>
  </div>

  <p>Status: <%= item.status %></p>
  <p>Favorite: <%= item.favorite ? "Yes" : "No" %></p>
  <p><%= item.movie.overview %></p>

  <%= form_with model: item do |form| %>
    <div>
      <%= form.label :status %>
      <%= form.select :status, WatchlistItem::STATUS_OPTIONS.keys, {}, onchange: "this.form.requestSubmit()" %>
    </div>
    <div>
      <%= form.label :favorite %>
      <%= form.check_box :favorite, onchange: "this.form.requestSubmit()" %>
    </div>
  <% end %>
  <hr>

<% end %>
